@import "../variables";
@import "../theme-colors";
.agriInvest_container{
	background:white !important;
	padding:3em; margin-top:5em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.spacing1{
	width:98%;
	margin:1em auto !important;
	
}
.spacing2{
	
	width:96%;
	margin:1em auto;
	
}
.btnFormat{
	background:white !important;
	border:none !important;
	color:black !important;
	
}
/* Apply margin to all .btnFormat except the first one */
.btnFormat:not(:first-child) {
    margin-left: 1em;
}

.back-image {
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-image: url('/images/banner.png');
	background-size: 100% 100%; /* Cover both width and height */
    background-position: center; /* Center the image */
    width: 100%; /* Ensure the container spans the full width */
    min-height: 100vh;
}

.login-form {
  min-height: 100vh;
  overflow-y: auto;
  box-shadow: var(--default-box-shadow);
  background-color: var(--authentication-form-bg);

  .sign-in-sign-up-form {
    padding: 4rem;

    .logo {
      max-width: 170px;
      max-height: 70px;
    }

    .form-row {
      .form-group {
        margin-bottom: 2rem;
      }

      .bluish-text {
        svg {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}